<div id="mail">
    <input type="hidden" value="{{ page }}" id="in_pole">
    <input type="hidden" value="{{ max_page }}" id="max_in_pole">
    <input type="hidden" value="{{ mail_page }}" id="max_in_elem">
    <input type="hidden" value="{{ data_count }}" id="max_in_vsego">
    <input type="hidden" value="{{ domain_name }}" id="tek_domain_name"> 
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="20px"><input type="checkbox" class="check" id="check_all"></th>
                <th width="275px">Почтовый ящик</th>
                <th width="20px" class="col_mess" title="Непрочитанные сообщения"><i class="icon-envelope"></i></th>
                <th>Zergus</i></th>
            </tr>
        </thead>
        {% for data in data %}
        <tbody>
            <tr>
                <td class="no_mark"><input type="checkbox" name="cheks" class="check" id="{{ data.mail_name }}"></td>
                <td>{{ data.mail_name }}<span id="domain_name">{{ domain_name }}</span></td>        
                <td class="col_mess">{{ data.mail_mails }}</td>
            </tr>
        </tbody>
        {% endfor %} 
    </table> 
    </div> 
